
    <div class="footer fixed-bottom">
        <div class="container"></div>
    </div>
    
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <% if (page === "landing") { %>
        <script src="js/landing.js"></script>
    <% } %>
    </body>
</html>