<%- include ('partials/header') %>

<div class="contact-wrapper">
    <div class="container">


        <div class=" jumbotron">
            <h1 class="display-4">Kontakt:</h1>

            <hr class="my-4">

            <h2>Tobias Klaus:</h2>

            <div class="email">
                <h4>E-Mail: tobiasklaus99@gmail.com</h4>
            </div>
            <div class="link-button">
                <a class="btn btn-primary btn-lg" href="https://github.com/Tobi4s1337" role="button">Github</a>
            </div>
            <div class="link-button">
                <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/tobias-klaus-34250816a/"
                    role="button">LinkedIn</a>
            </div>

            <hr class="my-4">
            <h2>Dominic Kloecker:</h2>

            <div class="email">
                <h4>E-Mail: d.kloecker@icloud.com</h4>
            </div>
            <div class="link-button">
                <a class="btn btn-primary btn-lg" href="https://github.com/dKloecker" role="button">Github</a>
            </div>
            <div class="link-button">
                <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/d-kloecker/"
                    role="button">LinkedIn</a>
            </div>

            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="https://devpost.com/software/1_010_d_analogeunterstutzung_cybercare"
                role="button">DEVPOST</a>

        </div>
    </div>
</div>

<%- include ('partials/footer') %>