<%- include ('partials/header') %>
<div class="sign-up">
    <div class="container welcome-wrapper">
        <span class="phone-svg">
            <img src="/img/phone.svg">
        </span>
        <div class="help-buttons">
            <a class="btn btn-primary want-to-help">ICH WILL HELFEN</a>
            <a class="btn btn-primary requires-help">ICH BRAUCHE HILFE</a>
        </div>
    </div>
</div>

<%- include ('partials/footer') %>