<%- include ('partials/header') %>

<div class="sign-up-wrapper">
    <span class="sign-up">
        <h2>Updates bekommen für diesen Ort:</h2>
        <input type="email" placeholder="Email">
    </span>
</div>

<div class="card-listing container">
    <div class="card-deck">

            <div class="row">
    
                <div class="card border-secondary mb-4">
                    <div class="card-header">Post Leitzahl: 66424</div>
                    <span class="badge badge-danger">Dringend</span>
                    <div class="card-body">
    
                        <h5 class="card-title">Audio abspielen</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                    </div>
                </div>

    
    
                <div class="card border-secondary mb-4">
                    <div class="card-header">Post Leitzahl: 66424</div>
                    <span class="badge badge-warning">Undringend</span>
                    <div class="card-body">
                        <h5 class="card-title">Audio abspielen</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                    </div>
                </div>


    


    
                <div class="card border-secondary mb-4">
                    <div class="card-header">Post Leitzahl: 66424</div>
                    <span class="badge badge-info">Gediegen</span>
                    <div class="card-body">
                        <h5 class="card-title">Audio abspielen</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                    </div>
                </div>

</div>
    </div>
</div>

<%- include ('partials/footer') %>