<%- include ('partials/header') %>

<div class="sign-up-wrapper">

    <span class="sign-up">
        <h2>Hier zur Bereitschaft anmelden:</h2>
        <input type="email" placeholder="Email">
    </span>
</div>

<div class="card-listing container">
    <div class="no-cards">
        <div class="card">
            <div class="card-body">
                Im moment braucht niemand in deiner Nähe hilfe, du kannst dich aber gerne zur bereitschaft anmelden und
                wir werden dich kontaktieren sobald jemand einen Hilfs Antrag stellt.
            </div>
        </div>
    </div>

    <div class="card-deck">

        <div class="row">

            <div class="card border-secondary mb-4">
                <div class="card-header">Postleitzahl: 66424</div>
                <span class="badge badge-danger">Dringend</span>
                <div class="card-body">

                    <h5 class="card-title">Audio abspielen</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                </div>
                <div class="card-footer text-muted">
                    01/05/2020 13:12
                </div>
            </div>



            <div class="card border-secondary mb-4">
                <div class="card-header">Postleitzahl: 66424</div>
                <span class="badge badge-warning">Undringend</span>
                <div class="card-body">
                    <h5 class="card-title">Audio abspielen</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                </div>
                <div class="card-footer text-muted">
                    01/05/2020 13:56
                </div>
            </div>


            <div class="card border-secondary mb-4">
                <div class="card-header">Postleitzahl: 66424</div>
                <span class="badge badge-info">Gediegen</span>
                <div class="card-body">
                    <h5 class="card-title">Audio abspielen</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                </div>
                <div class="card-footer text-muted">
                    01/05/2020 13:24
                </div>
            </div>

        </div>
    </div>
</div>

<%- include ('partials/footer') %>