<%- include ('partials/header') %>

<h1>hello world</h1>

<div class="card-deck">
    <div class="card">
        <div class="row">

            <div class="card border-secondary mb-4">
                <div class="card-header">Post Leitzahl: 66424</div>
                <div class="card-body">
                    <h5 class="card-title">Audio abspielen</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="row">

            <div class="card border-secondary mb-4">
                <div class="card-header">Post Leitzahl: 66424</div>
                <div class="card-body">
                    <h5 class="card-title">Audio abspielen</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">

            <div class="card border-secondary mb-4">
                <div class="card-header">Post Leitzahl: 66424</div>
                <div class="card-body">
                    <h5 class="card-title">Audio abspielen</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Telefon Nummer erfragen</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/footer') %>