html,
body,
header {
	height: 100%;
}

div.sign-up {
	height: 420px;
	background-color: #b7b7b7 !important;
}

div.welcome-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

div.text {
	width: 100%;
	background-color: grey;
	height: 300px;
}

span.phone-svg img {
	width: 340px;
	transform: rotate(45deg);
	max-height: 250px;
}

span.phone-svg {
	position: absolute;
	left: -80px;
	top: 26%;
	max-height: 250px;
}
