.sign-up-wrapper {
	width: 100%;

	padding-top: 120px;
	padding-bottom: 40px;
	background-color: #ececec;
	text-align: center;
}

span.sign-up input {
	padding: 6px 4px;
}

.sign-up {
	margin-left: auto;
	margin-right: auto;
}

.card {
	margin-left: 10px;
	margin-right: 10px;
}

audio {
	max-width: 100%;
}

#cardRow {
	width: 100%;
}

.card-listing {
	padding-top: 20px;
	padding-bottom: 30px;
}

.badge {
	border-radius: 0%;
	padding-bottom: 8px;
	padding-top: 8px;
}

.card-body {
	text-align: center;
}

.no-cards {
	padding-bottom: 8px;
	padding-top: 8px;
}

.dropdown-item {
	width: 299px;
}

.nummerbutton {
	text-align: center;
}
